{% extends "base.html" %} {% block title %}Malá banka{% endblock %} {% block content %}
<div class="jumbotron">
  <h1 class="display-4">Vaše prostředky v Malé bance</h1>
  <p class="lead"J edno místo pro všechny vaše bankovní potřeby </p>
  <p>Prosím, vyberte možnost níže pro zahájení:</p>
  <div class="row">
    <div class="col-md-6">
      <a href="/deposit" class="btn btn-primary btn-lg btn-block mb-3">
        <i class="fa fa-money"></i> Vklad
      </a>
    </div>
    <div class="col-md-6">
      <a href="/payment" class="btn btn-primary btn-lg btn-block mb-3">
        <i class="fa fa-credit-card"></i> Platba
      </a>
    </div>
    <!-- payment with transfer -->
    <div class="col-md-6">
      <a href="/payment_transfer" class="btn btn-primary btn-lg btn-block mb-3">
        <i class="fa fa-credit-card"></i> Platba s převodem
      </a>

    <div class="col-md-6">
      <a href="/history" class="btn btn-primary btn-lg btn-block mb-3">
        <i class="fa fa-history"></i> Historie
      </a>

    <div class="col-md-6">
      <a href="/balance" class="btn btn-primary btn-lg btn-block mb-3">
        <i class="fa fa-balance-scale"></i> Zůstatek
      </a>
    </div>
  </div>
</div>
{% endblock %}